.product-card{
    display: flex;
    flex-wrap: wrap;
    margin:15px;
}
.loader{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}