.bg-container-card{
    background-image: linear-gradient(to top,#1e293b,#a4261d)
}
.latest-match-card{
    display: flex;
    justify-content: space-between;
    background-color: #1e293b;
    border-radius: 10px;
    margin:20px;
    padding:15px;
    flex-grow:1;
}
.venue-card{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    flex-grow:1;
}
.innings-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:#ffffff;
    flex-grow:1;
}