*{
    box-sizing: border-box;
}
.bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
    background-size: cover;
}
.dashboard-name{
    color:#ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight:600;
}
.dash-card{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.logo-img{
    width:60px;
    height: 70px;
}
.main-section{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px){
    .bg-container{
        background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
        background-size: cover;
    }
}